<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#2.1.-Data-Types" data-toc-modified-id="2.1.-Data-Types-1">2.1. Data Types</a></span><ul class="toc-item"><li><span><a href="#2.1.1.-Numbers" data-toc-modified-id="2.1.1.-Numbers-1.1">2.1.1. Numbers</a></span></li><li><span><a href="#2.1.2.-Boolean" data-toc-modified-id="2.1.2.-Boolean-1.2">2.1.2. Boolean</a></span></li><li><span><a href="#2.1.3.-Python-Strings" data-toc-modified-id="2.1.3.-Python-Strings-1.3">2.1.3. Python Strings</a></span></li><li><span><a href="#2.1.4-Python-List" data-toc-modified-id="2.1.4-Python-List-1.4">2.1.4 Python List</a></span></li><li><span><a href="#2.1.5-Python-Tuple" data-toc-modified-id="2.1.5-Python-Tuple-1.5">2.1.5 Python Tuple</a></span></li><li><span><a href="#2.1.6-Python-Set" data-toc-modified-id="2.1.6-Python-Set-1.6">2.1.6 Python Set</a></span></li><li><span><a href="#2.1.7-Python-Dictionary" data-toc-modified-id="2.1.7-Python-Dictionary-1.7">2.1.7 Python Dictionary</a></span></li></ul></li><li><span><a href="#2.2-Conversion-between-Datatypes" data-toc-modified-id="2.2-Conversion-between-Datatypes-2">2.2 Conversion between Datatypes</a></span></li></ul></div>

## 2.1. Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

### 2.1.1. Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [1]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [2]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [3]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))
print(type(a))

(1+2j)  is complex number?
True
<class 'complex'>

### 2.1.2. Boolean

 Boolean represents the truth values False and True

In [5]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

In [6]:
print(a)

True

In [8]:
a=True
b=True
a+b

2

### 2.1.3. Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [18]:
s = "\"This is an %introduction to python\""

print(s)

"This is an %introduction to python"

In [19]:
s="Venkys Vision"

In [21]:
print(s)

Venkys Vision

In [36]:
print(s[::-1])

noisiV sykneV

In [11]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [1]:
s="Hello Good Morning"
print(s[0:-1:1])

Hello Good Mornin

In [2]:
print(s[-2:-8:2])

In [12]:
#slicing
s[5:]

'is an introduction to python'

### 2.1.4 Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [13]:
a = [10, 20.5, "Hello"]
print(a[1])   #print 1st index element

20.5

In [37]:
l="hello"
for i in l:
    print(i)

h
e
l
l
o

In [40]:
#print(list(l))
y=list(l)
type(y)

list

In [41]:
l1=[10,20,2.5,"KLR"]
print(l1[3])
print(l1[-1])

KLR
KLR

In [42]:
l1[0]=123.5
print(l1)

[123.5, 20, 2.5, 'KLR']

In [43]:
l1.remove(123.5)
print(l1)

[20, 2.5, 'KLR']

In [44]:
l1.append(123.5)
print(l1)

[20, 2.5, 'KLR', 123.5]

In [8]:
print(type(l1))

<class 'list'>

Lists are mutable, meaning, value of elements of a list can be altered.

In [15]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

### 2.1.5 Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [45]:
t = (1, 1.5, "Py")

In [46]:
print(t[1]) #extract particular element

1.5

In [11]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

### 2.1.6 Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [47]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [20]:
print(type(a))             #print type of a

<class 'set'>

In [13]:
s={10,20,10,20,30,10}
print(s)

{10, 20, 30}

In [48]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [49]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object is not subscriptable

### 2.1.7 Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [50]:
d = {100: "apple", 200: "bat"}
print(d[100])

apple

In [52]:
d[100]="venky"
print(d)

{100: 'venky', 200: 'bat'}

In [54]:
d1={"Venky":100,"Venky":"Sriram"}
print(d1)

{'Venky': 'Sriram'}

In [17]:
d1={100:"Venky",200:"Venky"}
print(d1)

{100: 'Venky', 200: 'Venky'}

In [18]:
d1={"Venky":100,"Sriram":200}
print(d1)

{'Venky': 100, 'Sriram': 200}

## 2.2 Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [55]:
float(5)     #convert interger to float using float() method

5.0

In [56]:
float("10")

10.0

In [57]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [58]:
int(100.5)   #convert float to integer using int() method

100

In [59]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [60]:
float(10+5j)

TypeError: can't convert complex to float

In [61]:
complex(10.5)

(10.5+0j)

In [62]:
complex("10")

(10+0j)

In [63]:
str(20)      #convert integer to string

'20'

In [64]:
str(10+5j)

'(10+5j)'

Conversion to and from string must contain compatible values.

In [29]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [3]:
int('10')

10

In [4]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [30]:
user = "vishnu"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, vishnu! You just wrote 100 lines of code

In [5]:
int(10+5j)

TypeError: can't convert complex to int

We can convert one sequence to other

In [32]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [33]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

In [19]:
s="Venky"
l=list(s)
print(l)

['V', 'e', 'n', 'k', 'y']

In [20]:
l=[10,2.5,20,30]
t=tuple(l)
print(t)

(10, 2.5, 20, 30)

In [21]:
l=[10,20,10,20,30,2.5,"hello"]
s=set(l)
print(s)

{2.5, 10, 'hello', 20, 30}

In [22]:
l=[10,20,30,4.5]
d=dict(l)
print(d)

TypeError: cannot convert dictionary update sequence element #0 to a sequence